@using Pomodoro.Services
<div class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
    
        @if(IsHomePage)
        {
            <div class="container-fluid justify-content-end">
                <a class="navbar-brand" href="/settings" @onclick="() => IsHomePage = false"><i class="bi bi-list"></i></a>
            </div>  
        }
        else
        {
            <div class="container-fluid justify-content-start">
            <a class="navbar-brand" href="" @onclick="() => IsHomePage = true"><i class="bi bi-arrow-left-short"></i></a>
            </div>
        }
</div>

<style>
    .navbar.bg-transparent {
        background-color: transparent !important;
    }

    .navbar-brand i {
        font-size: 1.5em;
        color: @AppStyleConfig.CurrentThemeItems;
    }

    .navbar-brand {
        margin-right: 0 !important;
    }
</style>

@code {
    private bool IsHomePage = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        NotifyChange.NavBarChange += () => InvokeAsync(StateHasChanged);
    }
}